{% extends "OrgaController/base.html" %}
{% block header %}
<h2>{{ byId }}</h2>
{% endblock %}
{% block body %}
<div class="ui two column grid">
    <div class="column">

        <ul><h3>Groupes</h3>
            {% for group in byId.groupes %}
            <li>
                {{ group }}
                <span class="ui basic circular label">
                {{ group.users | length }}
            </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <ul><h3>Utilisateur</h3>
        {% for user in byId.users %}
        <li>
            {{ user }}
            <span class="ui basic circular label">
                {{ user.groupes | length }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}