<!--View associated to index action of MainController controller -->
<div id="store-index">
    <div class="ui two column inverted grid">
        <div class="column">
            <div class="ui horizontal inverted divider">
                <h1 style="color:red">Store</h1>
            </div>
            <div class="ui attached inverted segment" >
                <div class="ui divided inverted list">
                    <div class="item">
                        <a class="ui teal basic button" tabindex="0">Mes Commandes</a>
                        <div id="store" style="margin-top: 3px"></div>
                    </div>

                    <div class="item">
                        <a class="ui teal basic button">Parcourir le store</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal inverted divider">
                <h1 style="color:red">Panier</h1>
            </div>
            <div class="ui attached inverted segment">
                <div class="ui divided inverted list">
                    <div class="item">
                        <a class="ui green basic button" ></i> Nouveau</a>
                        <div id="paniers" style="margin-top: 3px"></div>
                    </div>
                    <div class="item">
                        <a class="ui teal basic button" style=""></i> Mes paniers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ script_foot|raw }}