<!--View associated to listBaskets action of MainController controller -->
<h1>Mes paniers</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid inverted menu">
            {% for basket in baskets %}
            <a href="{{ path('basket', [basket.id]) }}" class="ui item"> {{ basket.name }}
                <span class="ui teal left pointing label"> {{ nbBaskets }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="ui grid ">
        <div class="ui wide column">
            <div class="ui top attached header">Mon Panier actuel</div>
            <div class="ui attached segment">
                <ul>
                    {% for prod in products %}
                    <li>{{ prod.product.name }} | {{ prod.quantity }}</li>
                    {% endfor %}
                </ul>
            </div>
            Prix : {{ fullPrice }}
            Remise : {{ totalDiscount }}
            Quantité : {{ quantity }}
        </div>
    </div>
</div>