<h1>Ma section</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid inverted menu">
            {% for section in listSection %}
            <a href="{{ path('section', [section.id]) }}" class="ui item"> {{ section.name }}
                    <span class="floating ui teal label"> {{ section.products|length }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="twelve wide column">
        <h3> {{ section.name }} </h3>
        <fieldset>
            <legend>Produits</legend>
            <div class="ui equal width center aligned padded grid">
                {% for prod in product %}
                <div class="four wide column">
                        <a href="{{ path('product', [section.id, prod.id]) }}" style="color:black">
                        <img src="/public/assets/img/{{ prod.image }}.jpg" alt="alternatetext" width="100" height="80">
                        <div>{{ prod.name }}</div>
                        <strong>{{prod.price}}€</strong>
                        <a href="{{ path('defaultBasket', [article.id]) }}" class="ui circular mini icon inverted button right floated"><i class="shopping cart icon"></i></a>
                        <button class="ui circular mini icon inverted button right floated"><i class="tasks icon"></i></button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
</div>