<h1>Store</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical inverted menu">
            {% for section in listSection %}
            <a href="{{ path('section', [section.id]) }}" class="ui item"> {{ section.name }}
                <span class="ui teal left pointing label"> {{ section.products|length }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="twelve wide column">
        <legend>Promotions</legend>
        <table class="ui very basic collapsing celled table">
            <tr>
                {% for prod in listProm %}
                <td>
                    <div>{{ prod.name }}</div>
                    <strong>{{prod.price}}€</strong>
                    <span class="ui red text"> {{ prod.promotion }}% </span>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
